body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-board {
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(10, auto);
  grid-template-rows: repeat(10, auto);
  border-right: 1px solid rgba(23, 130, 159, 0.5);
  border-bottom: 1px solid rgba(23, 130, 159, 0.5);
}

.game-board div {
  border: 1px solid rgba(23, 130, 159, 0.5);
  border-bottom: 0;
  border-right: 0;
}
